<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Girls blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Django Girls Blog</a></h1>
    </div>

    <div>
        <p>published: 14.04.2014, 12:12</p>
        <h2><a href="">My first post</a></h2>
        <p>Lorem ipsum Pellentesque ornare sem lacinia quam venecatis vestibulum. Done</p>
    </div>

    <div>
        <p>published: 23.03.2014, 09:45</p>
        <h2><a href="">My second post</a></h2>
        <p>Lorem ipsum Pellentesque ornare sem lacinia quam venecatis vestibulum. Donec</p>
    </div>
</body>
</html>